<!DOCTYPE html>
<html>
<head>
  <title>Search Page</title>
  <link rel="stylesheet" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
  <h1>CODEFINDER</h1>
  <p class="description">Use this search engine to quickly find code and enhance programming skills. Happy Coding!!</p>
  <div class="form">
    <form method="POST">
      {{ form.hidden_tag() }} 
      <div class="form-group">
        <div class="search">
          <input type="text" name="search" id="search-input" class="search-input" placeholder="Enter your search term">
          {{ form.submit(class_="submit-button") }}
        </div>
      </div>
    </form>
  </div>
  <div class="search-results">
    {% for result in results %}
      <p>
        <a href="{{ result['Question Link'] }}"><span class="text-result">{{ result['Title'] }}</span></a><br>
      </p>
    {% endfor %}
  </div>
</body>
</html>
